@charset "UTF-8";

/* COMMON-S */

section { padding: 158px 20px 160px;}
article { max-width: 1324px; margin: 0 auto;}
/* VISUAL-S */
.visual { overflow: hidden;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  width: 100%; height: 360px;
  position: relative;
}
.visual .visual-box { 
  width: 100%; height: 100%;
  position: absolute; left: 0; top: 0; z-index: -10;
  animation: visual-s 5s 0s ease-in-out;
}
/* .visual .visual-box img { width: 100%; height: 100%; }  */
.visual .visual-box_mobile img { display: none;}
.visual .visual-box-txt { 
  display: flex; flex-direction: column; justify-content: center;
  width: 100%; max-width: 1324px; 
  color: #373737;
}
.visual .visual-box-txt .s-tit { font-weight: 800; font-size: 50px;}
.visual .visual-box-txt .s-desc { font-size: 20px;}
@keyframes visual-s {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
/* VISUAL-E */

/* LNB-S */
.lnb { 
  width: 100%; height: 58px;
  border-bottom: 1px solid #ececec ;
}
.lnb .lnb-list { 
  display: flex; align-items: center;
  width: 100%; padding: 0 20px;
}
.lnb .lnb-list li { 
  padding: 0 30px;
  position: relative;
}
.lnb .lnb-list li + li::before { content: ""; display: block;
  width: 1px; height: 20px;
  background-color: #dbdbdb;
  position: absolute; left: 0; top: 18px;
}
.lnb .lnb-list li a {
  font-weight: 500; font-size: 18px; color: #333; line-height: 58px; 
  position: relative;
}
.lnb .lnb-list li a::after { content: ""; display: block; opacity: 0;
  width: 100%; height: 3px;
  background-color: #7ab5c7;
  position: absolute; left: 0; top: 36px;
  transition: all 0.4s;
}
.lnb .lnb-list li a:hover, .lnb .lnb-list li a:active { color: #7ab5c7;}
.lnb .lnb-list li a:hover::after { opacity: 1;}
.lnb .lnb-list li.on a { color: #7ab5c7;}
.lnb .lnb-list li.on a::after { opacity: 1;}
/* LNB-E */

/* ARTICLE-S */
.box-tit { margin-bottom: 111px;}
article h3 { opacity: 0;
  font-weight: 700; font-size: 60px; color: #333; line-height: 80px;
}
article .art-desc { display: block;
  margin-top: 40px;
  font-weight: 500; font-size: 21px; line-height: 30px;
}
/* ARTICLE-E */


.bg-menu-ani {
  position: absolute; top: 78px; right: 130px;
  animation: animal 20s infinite linear; 
  transform-origin: 50% 50%;
}
@keyframes animal {
  100% {
    transform: rotate(360deg);
  }
}




@media all and (max-width: 800px) {
  article h3 { font-size: 40px; line-height: 60px;}
  article .art-desc { font-size: 17px;}
}